<footer class="footer">
  <small>
    App made
    by <a href="http://www.fedegomez.io/">Fede Gomez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://fedegomez.io">News</a></li>
    </ul>
  </nav>
</footer>
